@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');

body{
	padding-top: 60px;	
}
/*para la sección de navegación*/
.navbar{
	background-color: #facb43;
	padding-top: 10px;
	border:transparent;

}
.navbar li{
	padding-right: 40px;

}
.navbar-default .navbar-nav>li>a{
	color: #191817;	
	font-family: 'Lato', sans-serif;
	font-size: 17px;
}

.navbar-default .navbar-nav>.active>a{
	color:#facb43;
	background-color:#191817;
	
}
.navbar .list-inline-item span{
	position: relative;
	top:-10px;
}
.navbar-default .navbar-toggle .icon-bar{
	background-color: #000;
}
.navbar-default .navbar-toggle{
	border-color: #191817;
}
/*para cambiar la fuente del texto que acompaña al slider*/
.slide1, .slide2, .slide3{
	font-family: 'Lato', sans-serif;
	font-size: 25px;
}
.topleft>h3{
	font-family: 'Lato', sans-serif;
	font-size: 35px;
	
}
/*Se aplica al lema "Va donde tu estés"*/
.lema{
	text-shadow: 6px 4px 12px #facb43;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 50px;
	color: #000;
	padding: 5px;
}
h2{
	
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 50px;
	color: #2c3336;
	padding: 5px;
}
.logo{
	border: 5px double;
    padding:  0em 1em;
    border-radius: 16px;
    font-size: 17px;
    line-height: 2;
    background-color: white;
    -webkit-box-decoration-break: slice;
    margin-top: 10px;
    margin-bottom: 20px;
}

.mision, .vision{
	font-size: 15px;
}
/*Se aplica al texto de va después de "Estos son nuestros servicios*/
.pInicio{
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 17px;
	color: #2c3336;
	padding-bottom: 30px;
	padding-top: 30px;
}
/*Para definir la altura, márgenes y color de la línea debajo de la frase "Va donde tú estés"*/
hr{
  height: 2px;
  margin-left: 34%;
  margin-right: 50%;
  margin-top: 0.5px;
  background-color:#facb43;
}

/*Para definir la altura, márgenes y color de la línea debajo de la frase "Va donde tú estés"*/
.nosotros-line{
  height: 2px;
  width: 8%;
  margin-left: 1%; 
  margin-top: 0.5px;
  background-color:#facb43;
}
/*Para definir la altura, margenes y color de la línea debajo de la frase "Va donde tú estés"*/
.servicios-line{
  height: 2px;
  width: 25%;
  margin-left: 23.5%; 
  margin-top: 0.5px;
  background-color:#facb43;
}
/*para las tres imágenes circulares*/
.p-deimagen-left, .p-deimagen-right, .p-deimagen-center{
	color: #2c3336;
	text-align: justify;	
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	padding:30px; 	
}
/*para el texto de las imágenes de los servicios*/
.p-deimagen-left-servicios, .p-deimagen-right-servicios{
	display: table-cell;
	margin: 0;
	padding: 0;
	vertical-align: middle;
	font-size: 16px;
}
.btn-warning{
	color: #ffffff;
	background-color: #797267;
	border-color: #797267;
}
.footer{
	background-color: #191817;		
	font-family: 'Lato', sans-serif;
	font-size: 12.5px;	
}

.footer-contacto{
	background-color: #191817;		
	font-family: 'Lato', sans-serif;
	font-size: 12.5px;	
	margin-top: 5%
}
.container .col-md-4 img{
  width: 58%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*para quitar las viñetas de la etiqueta li del footer*/
li{
	display: block;
	margin-top: 5px;
}
/*Para cambiar el color del menú ubicado en el footer donde se ha hecho click*/
a{
	color: #facb43;
}
/*Para el color del menú ubicado en el footer*/
.lista-left,.lista-right{
	color: #E8E1DF;
}

img{
	max-width: 100%;
}
img.misionmediana{	
	max-height:300px;
}
/*para el párrafo de la página encuéntranos*/
.p-encuentranos{
	font-family: 'Lato', sans-serif;
	font-size: 14px; 
}
/*para el párrafo de la página servicios*/
.solicita-serv{
	font-family: 'Lato', sans-serif;
	font-size: 15px; 
}

/*para alinear texto teléfono con el icono*/
.telf{
	display: inline;
}

